
.container {
display: flex;
justify-content: space-evenly;
background-color: lightgray;

}
form {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
}
label {
font-weight: 600;
padding: 10px;
}
input {
  padding: 10px;
  border: 1px solid lightgray;
}
button {
  width: 30%;
  margin-left: 200px;
  padding: 10px;
  color: #fff;
  background-color: #000;
  border: none;
  font-weight: 600;
  font-size: 15px;
}
.order {
  display: flex;
  color: rgb(182, 15, 15);
h3 {
  padding-left: 15px;
}
}
.payment__address {
  width: 290px;
  height: fit-content;
  margin-top: 40px;
  padding: 15x;
  background-color: white;
}
.formContainer{
  background-color: white;
margin-top: 40px;
padding: 100px;
}
h2 {
  padding-left: 40px;
}

.shipping
{
  display: flex;
 margin-top: -17px;
 p {
  padding-left:40px;
 }
}

.payment_button {
  padding: 15px;

}
