

img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  padding: 20px;
}
.product_row {
  margin-left: 5px;
  margin-right: 5px;
}
.product_price {
  color: rgb(235, 104, 104);
}
.product_title {
  font-size: 18px;
  font-weight: 700;

}

#container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  word-break: break-word;
  align-items: center;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
  grid-auto-rows: 1fr;
  row-gap: 1.5ch;
  column-gap: 1ch;

}
.card {
  max-width: 380px;
  min-height: 275px;
  min-width: 300px;
}
