

.container
{
  display: flex;
  justify-content: space-between;
  background-color: #111;
  color: #fff;

}

.searchInput
{
display: flex;
input{
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border: none;
padding: 10px;
padding-left: 800px;
margin-top: 20px;
text-align: left;
}
.searchIcon{
font-size: 30px;
padding: 5px;
margin-top: 20px;
color: #111;
background-color: rgb(253, 193, 28);
}
}


.cart-text {
  font-size: 20px;
}
h4 {
  margin-top: -16px;
}
img {
  height: 40px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}
p {
  font-size: 12px;
}
.orders {
  padding-top: 12px;
  cursor: pointer;
}
.order {
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}

.sign-in {
  padding-top: 23px;
  font-size: 19px;
}

#cart-number
{
font-size: 23px;
color: #f08804;
padding-left: 14px;
margin-bottom: -28px;

}
#cartIcon {
margin-top: 25px;
  padding-right: 20px;
  cursor: pointer;
  }
  ul
{
  list-style: none;
margin-top: -6px;
;
}
.username {
  font-size: 14px;
 
}
.signout {

  font-size: 16px;
  font-weight: 600;
}
