
img {
  max-height: 200px;
  width: 100%;
  padding-top: 50px;
}
.product_price {
  color: rgb(235, 104, 104);
}
.product_title {
  font-size: 18px;
  font-weight: 700;
  width: 500px;

}
.product_desctiption {
width: 600px;
}
ul{
   color: #333;
  list-style: none;
  padding: 20px;

}
li {
  padding: 20px;
  // width: 200px;

}
.product_row {
  display: flex;

}
.product_info {
padding-left: 20px;
}

.number {
  width: 35px;
  border-radius: 5px;
  border: 1px solid #111;
}
.cart_buttons {
  padding: 15px;
}
.add_buttons {
  margin: 10px;
}
.add_cart{
  padding: 6px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 20px;
  border: none;
  background-color: rgb(201, 172, 7);
  text-align: center;
}

.buy_now{
  padding: 6px;
  padding-left: 50px;
  padding-right: 53px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(201, 172, 7);
  text-align:right;
}
